* {
  font-family: 'Roboto Slab';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
}

body {
margin: 0 0 100px;
background-size: cover;
background-color: #125ec0;
}

form {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  height: 300px; 
}


.log_fundo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.log_form {
  display: flex;
  position: relative;
  background-color: white;
  height: 300px;
  width: 400px;
  border-left: 20px solid #1888ff;
  border-radius: 0px;
  top: 200px;
}

.log_titulo {
  color: #125ec0;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.log_campo{
  display: flex;
  flex-direction: column;
}


.login-painel {
  background-color: #ffffff;
  opacity: 95%;
  border-left: 20px solid #1888ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 400px;
  height: 300px; 
  
}

.login-painel h1 {
  font-family: 'Roboto Slab';
  color: #125ec0;
  font-size: 40px;
  margin-bottom: 20px;
}

.login-loginInputEmail {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 3px;
  width: 98%;
  height: 50px;
  border: 2px solid #a8a8a8;
  margin-left: 5px;
}

.login-loginInputEmail svg {
  margin-left: 10px;
  font-size: 25px;
  fill:#a8a8a8;
}

.login-loginInputEmail input {
  background: transparent;
  width: 100%;
  outline-width: 0;
  color: #000000;
  border: none;
  font-size: 17px;
  margin-left: 12px;
  margin-right: 10px;
}

.login-loginInputPassword {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 3px;
  margin: 5px;
  width: 98%;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #a8a8a8;
}

.login-loginInputPassword svg {
  margin-left: 10px;
  font-size: 25px;
  fill:#a8a8a8;
}

.login-loginInputPassword input {
  background: transparent;
  width: 100%;
  outline-width: 0;
  color:  #000000;
  border: none;
  font-size: 17px;
  margin-left: 12px;
  margin-right: 10px;
}

.login-painel button {
  width: 100%;
  background-color: #125ec0;
  color: #EFF2F5;
  font-weight: 800;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 5px;
  border: none;
  outline-width: 0;
}

.login-painel button:hover {
  background-color:#1888ff;
  color: #EFF2F5;
  cursor: pointer;
}

.login-eye {
  align-items: center;
  justify-content: center;
  font-size: 30;
  cursor: pointer;
  margin-right: 10px;
}


.log_form button {
  width: 98%;
  background-color: #125ec0;
  color: #EFF2F5;
  font-weight: 800;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 5px;
  margin-top: 5px;
  border: none;
  outline-width: 0;
}

.log_form button:hover {
  background-color:#1888ff;
  color: #EFF2F5;
  cursor: pointer;
}



@media screen and (max-width: 960px) {

.login-painel {
  background-color: #ff0000;
  opacity: 95%;
  border-left: 20px solid #1888ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 400px;
  height: 300px; 
  
}

}