* {
    font-family: 'Roboto Slab';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
}

body {
    margin: 0 0 100px;
    background-size: cover;
}
  
body.light {
  --fundo-pagina: #f7f7f7;
  --fundo-formulario: #ffffff;
  --fundo-input: #ffffff;
  --tema: #125ec0;
  --fonte: #000000;
  --label: #555555;
}
  
body.dark {
  --fundo-pagina:#000000;
  --fundo-formulario: #000000;
  --fundo-input: #000000;
  --tema: #000000;
  --fonte: #ffffff;
  --label: #ffffff;
}



.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px auto 40px;
    grid-template-columns: 50% 50%;
    background-color: salmon;
}

.header {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    background-color: var(--tema);
    grid-area: header;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--fundo-pagina);
    grid-area: body;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--tema);
    border-top: 2px solid #fff;
    color: #fff;
    grid-area: footer;
    
}

.grid-areas {
    grid-template-areas: 
    "header header"
    "body body"
    "footer footer";
}



  
.bemVindo_titulo {
    display: flex;
    flex-direction: column;
    font-size: var(--fonte-titulo);
    color: var(--fonte);
}

.mapa_titulo {
    display: flex;
    flex-direction: column;
    font-size: var(--fonte-titulo);
    color: var(--fonte);
    margin-left: 40%;
    margin-top: -100px;
}

.mapa_subtitulo {
    display: flex;
    flex-direction: column;
    font-size: var(--fonte-titulo);
    color: var(--fonte);
    margin-bottom: 20px;
}

.fundo-mapas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linha-mapas{
    display: flex;
    flex-direction: row;
}

.mapa-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 30px;
}

.mapa-consulta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    margin-inline: 30px;
}

.mapa-operacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 30px;
    margin-bottom: 85px;
}



.sobre {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 600px;
    height: 50px;
    top: 40%;
    left: 35%;
    font-size: 14px;
    color: var(--fonte);
}

.btnSobre {
    display: flex;
    position:absolute;
    top:80%;
    left: 80%;
    font-size: var(--fonte-titulo);
}

.btnVoltar {
    display: flex;
    position:relative;
    top:245px;
    left: 670px;
}

.home-links {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
    text-decoration: none;
  }

.home-links:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: #125ec0;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
  }

