* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab';
  }
  
  form{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .titulo {
    font-size: 14px;
    margin-bottom: 15px;
    align-self:center;
  }

  .fundo_formulario{
    background-color: #ffffff;
    border: 1px solid;
    border-color: rgb(172, 172, 172);
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 1200px;
    padding: 30px;
    border-top: 5px solid cornflowerblue;
    }

    .fundo_pagina {
        background-image: url('./images/fundo.png');
        background-position: center;
        background-size: cover;
        background-repeat:repeat-y;
        background-attachment:scroll;
        display: flex;
        height: 90vh;
        align-items: center;
        justify-content: center;
      }
      

.camposimples{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        margin-right: 20px;
        font-size: 15px;
      }
    
.camposimples label {
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 500;
        color:#555555;
      }
    
.camposimples input, select {
        border: 2px solid #AAAAAA;
        border-radius: 4px;
        background: #fff;
        height: 36px;
        padding: 0 10px;
        width: 250px;
        align-self: center;
        margin-bottom: 10px;
      }

.campoduplo{
        display: flex;
        flex-direction: row;
      }

.campoduplo2{
    display: flex;
    flex-direction: row;
    margin-right: 270px;
}


.campounico{
    display: flex;
    margin-right: 40px;
}

.campolongo input{
    display: flex;
    margin-right: 560px;
    width: 500px;
    margin-bottom: 10px;
}

.campolongo label{

    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    align-self: left;
}

form button{
    background-color: #125ec0; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  form button:hover{
    background-color: #176fe2;
    cursor: pointer;
  }