* {
    font-family: 'Roboto Slab';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100vh;
  }
  
  body {
  margin: 0 0 100px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  }
  
  body.light {
  --fundo-pagina: #f7f7f7;
  --fundo-formulario: #ffffff;
  --fundo-input: #ffffff;
  --tema: #125ec0;
  --fonte: #000000;
  --label: #555555;
  }
  
  body.dark {
  --fundo-pagina:#000000;
  --fundo-formulario: #000000;
  --fundo-input: #000000;
  --tema: #000000;
  --fonte: #ffffff;
  --label: #ffffff;
  }

  body.normal {
    --fonte-label: 15px;
    --fonte-titulo2: 18px;
  }
    
  body.big {
    --fonte-label: 18px;
    --fonte-titulo2: 24px;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px auto 40px;
    grid-template-columns: 50% 50%;
    background-color: salmon;
  }
  
  
  .header {
    display: flex;
    flex-direction: column;
  
    width: 100%;
    height: 100%;
    background-color: var(--tema);
    grid-area: header;
  }
  
  .body {

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    background-color: var(--fundo-pagina);
    grid-area: body;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--tema);
    border-top: 2px solid #fff;
    color: #fff;
    grid-area: footer;
    
  }
  
  .grid-areas {
    grid-template-areas: 
    "header header"
    "body body"
    "footer footer";
  }

  .btnPdf {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: var(--fonte-btn);
    color: #fff;
    cursor: pointer;
    background-color: #125ec0;
    margin: 0px;
    height: 40px;
  }
  
  .btnPdf:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: #1888ff;
    color: #fff;
    border-radius: 4px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
  }

  .divBtn {
    position: absolute;
    margin-top: 520px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #fff;
  }


.MuiToolbar-root {
  
  background-color: var(--fundo-formulario);
  border: 0.5px solid white;
  color: var(--fonte);
}

.Component-horizontalScrollContainer-12 {
  
  background-color: var(--fundo-formulario);
  color: var(--fonte);
  border: 0.5px solid white;
}

th.MuiTableCell-root {
  background-color: var(--fundo-formulario);
  font-size: var(--fonte-label);
  color: var(--fonte);
  border: 0.5px solid white;
}

tr.MuiTableCell-root{
  font-size: 200px;
}

input.MuiInputBase-input{
  color: var(--fonte);
  font-size: var(--fonte-label);
}

div.MTablePaginationInner-root-14{
  color: var(--fonte);
  font-size: var(--fonte-label);
}

h6.MuiTypography-h6{
  font-size: var(--fonte-titulo2);
}



button.MuiButtonBase-root.MuiIconButton-root.Mui-disabled.Mui-disabled{
  color: var(--fonte);
  font-size: var(--fonte-label);
}

button.MuiButtonBase-root.MuiIconButton-root{
  color: var(--fonte);
  font-size: var(--fonte-label);
}

.material-icons.MuiIcon-root.MuiIcon-fontSizeSmall{
  color: var(--fonte);
  font-size: var(--fonte-label);
}

.MuiToble-root{
  font-size: 200px;
}